{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "### 一、公共参数说明（此栏参数均为Headers请求头传递）\n| 参数名 | 说明 | 示例 |\n| ------ | :----- | :----- |\n| AppId | AppId(区分Android,iOS,web) | 5EesXF1i |\n| Secret | 服务端下发的secret 通过/api/v1/client/init接口获取 调用该接口时无需传 且 不参与签名 | DnaukFwVILpcewX6 |\n| Timestamp | 请求时间戳 单位：秒 | 1588888888 |\n| Sign | 签名 | 签名 md5签名32位值 |\n| Version | 当前版本 | 1.0.1 |\n### 二、请求体说明（此栏参数均为POST JSON传递，不可用form-data提交）\n\n{\n'mobileNum': '13177656222',\n'platform': 0\n}\n### 三、接口签名生成方式\n签名加密示例:\nparams = 请求的url路径(不包含域名与参数) + \u0026 + Header头参数以`\u0026`拼接（无需按照字典序，具体看以下栗子） + \u0026 + appKey\nappKey由服务端下发 并进行保存\nsign = md5(params) 取md5 32位小写\n如：md5(/api/v1/user/mobile/login\u0026AppId=5EesXF1i\u0026Timestamp=1588888888\u0026Version=1.0.1\u0026Secret=DnaukFwVILpcewX6\u0026RfhHecN9zsNcy19Y)\nappKey为RfhHecN9zsNcy19Y\n### 四、API错误码文档\n[点击查看](/api/v1/doc)\n### 五、HTTP状态码说明\n| 状态码 | 说明 |\n| ------ | :----- |\n| 200 | 操作成功 |\n| 400 | 参数错误 |\n| 500 | 内部错误 |\n### 六、推送通知文档\n推送通知类型\n↓↓↓\n[点击查看](/api/v1/notify/doc)\n\n透传（自定义推送）说明\n| 客户端 | 字段 | 类型 | 说明 | 示例 |\n| ------ | :----- | :----- | :----- | :----- |\n| android | custom | string | android透传数据（参考 自定义消息结构说明） | {'msg_id':'123456','data':{'unread_num':100},'msg_type':20000,'send_time':1607665370,'display':true}' |\n| iOS | extra | string | iOS透传数据（参考 自定义消息结构说明） | {'msg_id':'123456','data':{'unread_num':100},'msg_type':20000,'send_time':1607665370,'display':true} |\n\n自定义消息结构说明\n| 字段 | 类型 | 说明 |\n| ------ | :----- | :----- |\n| msg_id | string | 消息id |\n| msg_type | int32 | 消息类型 |\n| send_time | int64 | 发送时间 |\n| display | bool | false不展示 true展示 |\n| data | map[string]interface{} | 业务场景透传数据[参考接口返回data] |\n\n推送数据结构（iOS）\n\n{\n'appkey':'5fc60a125a31bc1b28ee9cb7',\n'timestamp':1607658719,\n'type':'unicast',\n'device_tokens':'3fa23e7d5afa9705f7a3d7161a64bb99531100bf818b2ea6d35a14d8dec6b6ce',\n'payload':{\n'aps':{\n'alert':{\n'title':'订单消息',\n'subtitle':'订单消息',\n'body':'订单快超时啦，赶紧付款～'\n},\n'sound':'default'\n},\n'extra':'{'msg_id':'123456','data':{'unread_num':100},'msg_send_time':1607658720,'display':false}'\n},\n'policy':{\n'expire_time':'2020-12-15 15:52:00'\n},\n'production_mode':false,\n'description':'风暴英雄'\n}\n\n推送数据结构（android）\n\n{\n'appkey':'5fabde2445b2b751a929c2d5',\n'timestamp':1607665369,\n'type':'unicast',\n'device_tokens':'AqfCkpFEey_nfS13tOtF6epRVhOcA0Ny9vPelVd7dGl1',\n'payload':{\n'display_type':'message',\n'body':{\n'title':'订单通知',\n'text':'付款倒计时10分钟',\n'custom':'{'msg_id':'123456','data':{'unread_num':100},'msg_type':20000,'send_time':1607665370,'display':true}'\n}\n},\n'policy':{},\n'production_mode':false\n}",
        "title": "电竞社区平台（应用服）",
        "contact": {},
        "license": {},
        "version": "1.0"
    },
    "host": "fpv-web.youzu.com",
    "paths": {
        "/api/v1/attention/cancel": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "关注模块"
                ],
                "summary": "取消关注 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "取消关注请求参数",
                        "name": "CancelAttentionParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mattention.CancelAttentionParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/attention/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "关注模块"
                ],
                "summary": "关注的用户列表[分页获取] (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "页码 从1开始",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "每页展示多少 最多50条",
                        "name": "size",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "用户id",
                        "name": "user_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/attention/user": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "关注模块"
                ],
                "summary": "关注用户 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "关注用户请求参数",
                        "name": "AddAttentionParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mattention.AddAttentionParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/barrage/send": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "弹幕模块"
                ],
                "summary": "发送视频弹幕 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "发送弹幕请求参数",
                        "name": "SendBarrageParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mbarrage.SendBarrageParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/barrage/video/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "弹幕模块"
                ],
                "summary": "视频弹幕列表[视频时长区间获取] (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "时长区间 最小时长",
                        "name": "min_duration",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "时长区间 最大时长",
                        "name": "max_duration",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "视频id",
                        "name": "video_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/client/init": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "通用接口"
                ],
                "summary": "初始化接口 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "default": "android",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/collect/delete": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "收藏模块"
                ],
                "summary": "删除收藏的历史记录 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "删除收藏记录 请求参数",
                        "name": "DeleteCollectParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mcollect.DeleteCollectParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/collect/other/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "收藏模块"
                ],
                "summary": "查看其他用户收藏的视频列表[分页获取] (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "页码 从1开始",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "每页展示多少 最多50条",
                        "name": "size",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/collect/video": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "收藏模块"
                ],
                "summary": "收藏视频 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "收藏视频请求参数",
                        "name": "AddCollectParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mcollect.AddCollectParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/collect/video/cancel": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "收藏模块"
                ],
                "summary": "取消收藏 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "取消视频收藏请求参数",
                        "name": "CancelCollectParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mcollect.CancelCollectParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/collect/video/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "收藏模块"
                ],
                "summary": "用户收藏的视频列表[分页获取] (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "查看的用户id",
                        "name": "user_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "页码 从1开始",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "每页展示多少 最多50条",
                        "name": "size",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/comment/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "评论模块"
                ],
                "summary": "评论列表[分页获取] (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "页码 从1开始",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "每页展示多少 最多50条",
                        "name": "size",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "视频id",
                        "name": "video_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "排序规则 0 时间 1 热度",
                        "name": "sort_type",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "用户id",
                        "name": "user_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/comment/publish": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "评论模块"
                ],
                "summary": "发布评论 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "发布评论请求参数",
                        "name": "PublishCommentParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mcomment.V2PubCommentParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/comment/reply": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "评论模块"
                ],
                "summary": "回复评论 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "回复评论请求参数",
                        "name": "ReplyCommentParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mcomment.ReplyCommentParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/comment/reply/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "评论模块"
                ],
                "summary": "回复列表[分页获取] (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "页码 从1开始",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "每页展示多少 最多50条",
                        "name": "size",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "视频id",
                        "name": "video_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "用户id",
                        "name": "user_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "评论id",
                        "name": "comment_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/comment/report": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "评论模块"
                ],
                "summary": "举报评论 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "举报评论请求参数",
                        "name": "CommentReportParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mcomment.CommentReportParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/fans/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "关注模块"
                ],
                "summary": "用户的粉丝列表[分页获取] (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "页码 从1开始",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "每页展示多少 最多50条",
                        "name": "size",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "用户id",
                        "name": "user_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/like/comment": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "点赞模块"
                ],
                "summary": "视频评论点赞 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "评论点赞请求参数",
                        "name": "GiveLikeParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mlike.GiveLikeParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/like/comment/cancel": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "点赞模块"
                ],
                "summary": "取消评论点赞 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "取消评论点赞请求参数",
                        "name": "CancelLikeParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mlike.CancelLikeParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/like/comment/post": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "点赞模块"
                ],
                "summary": "帖子评论点赞 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "评论点赞请求参数",
                        "name": "GiveLikeParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mlike.GiveLikeParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/like/comment/post/cancel": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "点赞模块"
                ],
                "summary": "取消帖子评论点赞 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "取消评论点赞请求参数",
                        "name": "CancelLikeParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mlike.CancelLikeParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/like/other/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "点赞模块"
                ],
                "summary": "查看其他用户点赞的视频列表[分页获取] (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "页码 从1开始",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "每页展示多少 最多50条",
                        "name": "size",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/like/post": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "点赞模块"
                ],
                "summary": "帖子点赞 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "点赞视频请求参数",
                        "name": "GiveLikeParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mlike.GiveLikeParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/like/post/cancel": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "点赞模块"
                ],
                "summary": "取消帖子点赞 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "取消视频点赞请求参数",
                        "name": "CancelLikeParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mlike.CancelLikeParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/like/video": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "点赞模块"
                ],
                "summary": "视频点赞 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "点赞视频请求参数",
                        "name": "GiveLikeParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mlike.GiveLikeParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/like/video/cancel": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "点赞模块"
                ],
                "summary": "取消视频点赞 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "取消视频点赞请求参数",
                        "name": "CancelLikeParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mlike.CancelLikeParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/like/video/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "点赞模块"
                ],
                "summary": "用户点赞的视频列表[分页获取] (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "查看的用户id",
                        "name": "user_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "页码 从1开始",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "每页展示多少 最多50条",
                        "name": "size",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/notify/beliked": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "通知模块"
                ],
                "summary": "被点赞通知[分页获取] (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "页码 从1开始",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "每页展示多少 最多50条",
                        "name": "size",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/notify/receive/at": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "通知模块"
                ],
                "summary": "被@通知[分页获取] (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "页码 从1开始",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "每页展示多少 最多50条",
                        "name": "size",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/notify/setting": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "通知模块"
                ],
                "summary": "系统通知设置 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "系统通知设置 请求参数",
                        "name": "NotifySettingParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mnotify.NotifySettingParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/notify/setting/info": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "通知模块"
                ],
                "summary": "通知设置信息 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/notify/system": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "通知模块"
                ],
                "summary": "系统通知消息列表 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "页码 从1开始",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "每页展示多少 最多50条",
                        "name": "size",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "用户id 非必传",
                        "name": "user_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/notify/system/message/detail": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "通知模块"
                ],
                "summary": "系统消息详情 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "系统消息id",
                        "name": "system_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/notify/unread/quantity": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "通知模块"
                ],
                "summary": "获取未读通知数量 (ok)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AppId",
                        "name": "AppId",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "调用/api/v1/client/init接口 服务端下发的secret",
                        "name": "Secret",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "请求时间戳 单位：秒",
                        "name": "Timestamp",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "签名 md5签名32位值",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1.0.0",
                        "description": "版本",
                        "name": "Version",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{\"code\":200,\"data\":{},\"msg\":\"success\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"code\":500,\"data\":{},\"msg\":\"fail\",\"tm\":\"1588888888\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/search/attention": {
            "get": {
                "consumes": [
[...]
