[Unit]
Description=fpv-backend-api
After=network.target

[Service]
User=nobody
ExecStart=/data/service/fpv-backend-api/fpv-backend-api -c /data/service/fpv-backend-api/config/backend_prod.yaml

[Install]
WantedBy=multi-user.target
