[Unit]
Description=fpv
After=network.target

[Service]
User=nobody
ExecStart=/data/app/fpv/fpv -c /data/app/fpv/config/app_dev.yaml

[Install]
WantedBy=multi-user.target
