[Unit]
Description=fpv-app-api
After=network.target

[Service]
User=nobody
ExecStart=/data/service/fpv-app-api/fpv-app-api -c /data/service/fpv-app-api/config/app_dev.yaml

[Install]
WantedBy=multi-user.target
